.card {
  background-color: bisque;
  text-align: center; }

h1 {
  text-align: center; }

body {
  background-color: slategrey; }

.btn {
  margin: 10px; }

.fill {
  min-height: 64px; }

center {
  text-align: center; }
